:root {
    --primary-color: #17a2b8;
    --dark-color: #343a40;
    --light-color: #f4f4f4;
    --danger-color: #dc3545;
    --success-color: #28a745;
}

body {
    font-family: "Zen Antique", sans-serif;
    font-size: 1rem;
}

.wd-x-large {
    font-size: 4rem;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.wd-large {
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.wd-lead {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.wd-dark {
    background: #343a40;
    color: #fff;
}


/*profile*/
.follower-avatar-logo-size {
    width: 50px;
    height: 50px;
}

.profile-avatar-logo-size {
    width: 100px;
    height: 100px;
}

.img-fluid.movie-poster {
    min-height: 150px;
    min-width: 100px;
}

.profile-stats-button:focus {
    border-radius: 25px;
    border-color: black;
    background-color: white;
    color: black;
    width: 60%;
    padding-left: 4px;
    padding-right: 4px;
}

/*movie list*/
.movie-list-bookmark {
    position: absolute;
    left: 0;
    top: 0;
}

.movie-list-description {
    max-height: 190px;
    overflow: hidden;
}

.movie-list-description:hover {
    overflow: visible;
}

.movie-list-item-container {
    position: relative;
    transition: transform 0.2s;
}

.movie-list-item-container:hover {
    cursor: pointer;
    transform: scale(1.1);
}

/*follow list*/
.follow-list-button:focus {
    border-radius: 25px;
    border-color: black;
    background-color: white;
    color: black;
}
