:root {
    --primary-color: #17a2b8;
    --dark-color: #343a40;
    --light-color: #f4f4f4;
    --danger-color: #dc3545;
    --success-color: #28a745;
}

body {
    font-family: "Zen Antique", sans-serif;
    font-size: 1rem;
}

.wd-x-large {
    font-size: 4rem;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.wd-large {
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.wd-lead {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.wd-dark {
    background: #343a40;
    color: #fff;
}

.wd-no-wrap {
    white-space: nowrap;
}

.wd-avatar-rounded-corner {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.wd-font-size-8 {
    font-size: 8px;
}

.wd-no-background {
    background-color: #060606;
}


/*profile*/
.follower-avatar-logo-size {
    width: 50px;
    height: 50px;
}

.profile-avatar-logo-size {
    width: 100px;
    height: 100px;
}

.img-fluid.movie-poster {
    min-height: 150px;
    min-width: 100px;
}

.profile-stats-button:focus {
    border-radius: 25px;
    border-color: black;
    background-color: white;
    color: black;
    width: 60%;
    padding-left: 4px;
    padding-right: 4px;
}

/*movie list*/

.movie-list-bookmark {
    position: absolute;
    left: 0;
    top: 0;
}

.movie-list-description {
    max-height: 190px;
    overflow: hidden;
}

.movie-list-description:hover {
    overflow: visible;
}

.movie-list-item-container {
    position: relative;
    transition: transform 0.2s;
}

/*.movie-list-item-container:hover {*/
/*    cursor: pointer;*/
/*    transform: scale(1.1);*/
/*}*/

/*follow list*/
.follow-list-button:focus {
    border-radius: 25px;
    border-color: black;
    background-color: white;
    color: black;
}

.greydiv {

    /*background-image: url("https://upload.wikimedia.org/wikipedia/en/d/dc/Home_Sweet_Home_Alone_Poster.jpg");*/
    /*background-position: center;*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
}

.titlediv {
    color: lightgrey;
    font-weight: bold;
    font-size: 30px;
}

.subtitlediv {
    color: lightgrey;
    font-size: 15px;
}

.introtitlediv {
    font-weight: 800;
    line-height: 20px;
    width: 100%;
    position: relative;
    overflow: hidden;
    margin-bottom: 6px;
    margin-top: 4px;
}
.introtitlediv::before {
    background-color: #2a9fd6;
    content: ' ';
    min-width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
}
.introtitlediv::after {
    content: ' ';
    position: absolute;
    margin-left: 11px;
    width: 100%;
    background-color: #2a9fd6;
    min-width: 20px;
    height: 20px;
}

.introtitledivnobanner {
    font-weight: 800;
}

.seconddiv {
    border-top-color: white;
    border-top-style: solid;
    border-top-width: thin;
}

div.scrollmenu {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
}

div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

div.scrollmenu a:hover {
    background-color: #777;
}

.actorcarddiv {
    font-size: 15px;
    white-space: initial;
}
